<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GlobalNews</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{ STATIC_URL }}css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ STATIC_URL }}css/sb-admin.css" rel="stylesheet">
    
    {% block css%}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GlobalNews</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a href="/lista/secciones/">Secciones</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-exclamation-sign"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>(Persona Reportada)Christian Consuelo</strong>
                                    <span class="pull-right text-muted">
                                        <em>Ayer</em>
                                    </span>
                                </div>
                                <div>Bio de la personas Bio de la personas Bio de la personas Bio de la personas Bio de la personas...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>(Noticia Reportada)[TITULO DE LA NOTICIA]</strong>
                                    <span class="pull-right text-muted">
                                        <em>Ayer</em>
                                    </span>
                                </div>
                                <div>Texto noticia Texto noticia Texto noticia Texto noticia Texto noticia...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="lista/reportes/">
                                <strong>Ver todos los reportes...</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Christian Consuelo</strong>
                                    <span class="pull-right text-muted">
                                        <em>Ayer</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Christian Consuelo</strong>
                                    <span class="pull-right text-muted">
                                        <em>Ayer</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="/lista/mensajes/">
                                <strong>Leer Todos los Mensajes...</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Nuevos Comentarios
                                    <span class="pull-right text-muted small">Hace 4 minutos</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="glyphicon glyphicon-ok-circle"></i> 3 Nuevos Followers
                                    <span class="pull-right text-muted small">Hace 12 minutos</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> Nuevas Tareas
                                    <span class="pull-right text-muted small">Hace 4 minutos</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Ver todas las alertas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/perfil/{{ user.id }}"><i class="fa fa-user fa-fw"></i> Perfil</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuración</a>
                        </li>
                        <li>
                            <a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                {% else %}
                <li>
                    <a href="/login/">Login</a>
                </li>
                <li>
                    <a href="/nuevo/usuario/">Registrarse</a>
                </li>
                {% endif %}
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side col-lg-1" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Buscar...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Estadisticas</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#"><i class=""></i> Publicaciones<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/nuevo/nota/"><i class="glyphicon glyphicon-plus-sign"></i>Nueva Publicación</a>
                            </li>
                            <li>
                                <a href="/lista/nota/usuario/{{ user.id }}"><i class="glyphicon glyphicon-th-list"></i>  Mis Publicaciones</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i>Secciones<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            {% for seccion in secciones %}
                            <li>
                                <a href="#">{{ seccion.nombre }}</a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/lista/publicaciones/">Choques / Automoviles Descompuestos</a>
                                    </li>
                                    <li>
                                        <a href="/lista/publicaciones/">Obras</a>
                                    </li>
                                    <li>
                                        <a href="/lista/publicaciones/">Manifestaciones</a>
                                    </li>
                                </ul>
                            </li>                                
                            {% endfor %}
  
                            <li>
                                <a href="#">Tráfico</a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/lista/publicaciones/">Choques / Automoviles Descompuestos</a>
                                    </li>
                                    <li>
                                        <a href="/lista/publicaciones/">Obras</a>
                                    </li>
                                    <li>
                                        <a href="/lista/publicaciones/">Manifestaciones</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Eventos Culturales</a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/lista/publicaciones/">Obras de Teatro</a>
                                    </li>
                                    <li>
                                        <a href="/lista/publicaciones/">Conciertos</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Politica</a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/lista/publicaciones/">Manifestaciones</a>
                                    </li>
                                    <li>
                                        <a href="/lista/publicaciones/">Nuevas Reformas y Leyes</a>
                                    </li>
                                    <li>
                                        <a href="/lista/publicaciones/">Escándalos</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Deportes</a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/lista/publicaciones/">Exhibiciones</a>
                                    </li>
                                    <li>
                                        <a href="/lista/publicaciones/">Torneos</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Urbano</a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Crimen</a>
                                    </li>
                                    <li>
                                        <a href="#">Problemas Viales</a>
                                    </li>
                                    <li>
                                        <a href="#">Problemas en Servicios</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Clima</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ nombre_vista }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

        {% block contenido %}
        {% endblock %}
                <div class="col-lg-3">
                    {% if user.is_authenticated %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-user"></i> <a href="/perfil/{{user.id}}"><strong>{{ user.username }}</strong></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="/lista/seguidores/{{ user.id }}" class="list-group-item">
                                    <i class="glyphicon glyphicon-ok-circle"></i>  {{ num_seguidores }} Seguidores
                                </a>                                
                                <a href="/lista/seguidos/{{ user.id }}" class="list-group-item">
                                    <i class="glyphicon glyphicon-ok-circle"></i>  {{ num_siguiendo }} Siguiendo
                                </a>                                
                                <a href="/lista/nota/usuario/{{ user.id }}" class="list-group-item">
                                    <i class="glyphicon glyphicon-list-alt"></i>  {{ num_notas }} Publicaciones
                                </a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    {% endif %}
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-asterisk"></i>
                            Novedades
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Inauguración de Exposición de Arte</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> Hace 12 minutos
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> Hace 13 minutos</small>
                                            <strong class="pull-right primary-font">Manifestación de la CFE</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Choque en Av. Politécnico</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> Hace 15 minutos</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> Hace 15 minutos</small>
                                            <strong class="pull-right primary-font">Huelga de empleados de PEMEX</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.panel .chat-panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-user"></i>
                            Usuarios Populares
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <a href="/perfil/{{ user.id }}">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Christian Consuelo</strong> 
                                            </div>
                                            <br>
                                            <span>Añadido hace 1 año</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="left clearfix">
                                    <a href="/perfil/">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Mar Escoto Diana</strong> 
                                            </div>
                                            <br>
                                            <span>Añadido hace 3 meses</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="left clearfix">
                                    <a href="/perfil/">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar"/>
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Ricardo Moreno</strong> 
                                            </div>
                                            <br>
                                            <span>Añadido hace 2 semanas</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>

    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="{{ STATIC_URL }}js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ STATIC_URL }}js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="{{ STATIC_URL }}js/demo/dashboard-demo.js"></script>

    {% block js %}
    {% endblock %}

</body>

</html>
