{% extends 'base.html' %}
{% load tz %}
{% load humanize %}
{% block contenido %}
<div class="col-lg-9">
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Timeline
        </div>
        <div id="googleMap" style="height:380px;"></div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="timeline" id="timeline">
                {% for noticia in noticias %}
                {% if forloop.counter|divisibleby:2 %}
                <li class="timeline-inverted">
                {% else %}
                <li>               
                {% endif %}
                    <div class="timeline-badge"><i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <a href="/publicacion/{{ noticia.id }}"><h4 class="timeline-title">{{ noticia.titulo }}</h4></a>
                            <a href="/perfil/{{ noticia.usuario.id }}"><h5>Por {{ noticia.usuario.username }}</h5></a>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i>{{ noticia.fecha|naturaltime|capfirst }}</small>

                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{ noticia.descripcion|slice:":140"|add:" ..." }}</p>
                        </div>

                        {% if noticia.usuario == user %}
                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/editar/nota/{{ noticia.id }}">Editar</a>
                                    </li>
                                    <li><a href="#">Hacer alguna otra cosa</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#" onClick="obtieneIdNoticia({{ noticia.id }});" data-toggle="modal" data-target="#ModalEliminarPost">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                    </div>
                </li>
                {% endfor %}
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Editar</a>
                                    </li>
                                    <li><a href="#">Hacer alguna otra cosa</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

<!-- Modal -->
<div class="modal fade" id="ModalEliminarPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Publicación</h4>
      </div>
      <div class="modal-body">
        <h3>¿Seguro que desea eliminar la publicación?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <a href="#" id="btn-eliminar" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mapa.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>

<script type="text/javascript">
    var socket = io.connect("localhost:3000");
    var left_right = 1;

    socket.on('nueva_publicacion', function(data){

        var ubicacion = '';

        if(left_right == 1){
            ubicacion = ' class="timeline-inverted"';
            left_right = 0;
        } else {
            ubicacion = '';
            left_right = 1;
        }

        var template = $('<li' + ubicacion + '> \
                                    <div class="timeline-badge"><i class="fa fa-check"></i> \
                                    </div> \
                                    <div class="timeline-panel"> \
                                        <div class="timeline-heading"> \
                                            <a href="/publicacion/' + data.id + '"><h4 class="timeline-title">' + data.titulo + '</h4></a> \
                                            <a href="/perfil/' + data.usuario_id + '"><h5>Por ' + data.usuario + '</h5></a> \
                                            <p> \
                                                <small class="text-muted"><i class="fa fa-time"></i>' + data.fecha + '</small> \
                                            </p> \
                                        </div> \
                                        <div class="timeline-body"> \
                                            <p>' + data.descripcion + '</p> \
                                        </div> \
                                    </div> \
                                </li>');
        template.hide();
        $('#timeline').prepend(template);
        template.show('slow');


        var marker1 = new google.maps.Marker({
            position: new google.maps.LatLng(data.latitud,data.longitud),
            map: map,
            title: data.titulo,
            url: '/publicacion/' + data.id
            });
            google.maps.event.addListener(marker1, 'click', function() {
            window.location.href = this.url;
        });
    });


</script>

<script type="text/javascript">
    
var id_noticia;
obtieneIdNoticia = function(id){
    id_noticia = id;
}; 
$('#btn-eliminar').on('click', function(e){
    e.preventDefault();
    location.replace("/eliminar/nota/" + id_noticia);
});

</script>

{% endblock %}