{% extends 'base.html' %}
{% load tz %}
{% load humanize %}
{% block contenido %}
<div class="col-lg-9">
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Timeline
        </div>
        <div id="googleMap" style="height:380px;"></div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="timeline" id="timeline">
            {% for noticia in noticias %}
            {% if forloop.counter|divisibleby:2 %}
            <li class="timeline-inverted">
            {% else %}
            <li>               
            {% endif %}
                {% if noticia.seccion_id == 2 %}
                    <div class="timeline-badge trafico">
                        Tráfico
                {% elif noticia.seccion_id == 3 %}
                    <div class="timeline-badge culturales">
                        Cultura
                {% elif noticia.seccion_id == 4 %}
                    <div class="timeline-badge politica">
                        Política
                {% elif noticia.seccion_id == 5 %}
                    <div class="timeline-badge deportes">
                        Deportes
                {% elif noticia.seccion_id == 6 %}
                    <div class="timeline-badge urbano">
                        Urbano
                {% elif noticia.seccion_id == 7 %}
                    <div class="timeline-badge clima">
                        Clima
                {% endif %}
                </div>

                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <a href="/publicacion/{{ noticia.id }}"><h4 class="timeline-title">{{ noticia.titulo }}</h4></a>
                        <a href="/perfil/{{ noticia.usuario.id }}"><h5>Por {{ noticia.usuario.username }}</h5></a>
                        <p>
                            <small class="text-muted"><i class="fa fa-time"></i>{{ noticia.fecha|naturaltime|capfirst }}</small>

                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>{{ noticia.descripcion|slice:":140"|add:" ..." }}</p>
                    </div>

                    {% if noticia.usuario_id == user.id %}
                        <hr>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog"></i> 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/editar/nota/{{ noticia.id }}">Editar</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#" onClick="obtieneIdNoticia({{ noticia.id }});" data-toggle="modal" data-target="#ModalEliminarPost">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

                </div>
            </li>
            {% endfor %}
            <ul class="pager">
            {% if noticias.has_previous %}
                <li class="previous"><a href="?page={{ noticias.previous_page_number }}&q={{ q }}">&larr; Anterior</a></li>
            {% endif %}
            {% if noticias.has_next %}
                <li class="next"><a href="?page={{ noticias.next_page_number }}&q={{ q }}">Siguiente &rarr;</a></li>
            {% endif %}
            </ul>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

<!-- Modal -->
<div class="modal fade" id="ModalEliminarPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Publicación</h4>
      </div>
      <div class="modal-body">
        <h3>¿Seguro que desea eliminar la publicación?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <a href="#" id="btn-eliminar" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mapa.js"></script>
<script type="text/javascript">
    
var id_noticia;
obtieneIdNoticia = function(id){
    id_noticia = id;
}; 
$('#btn-eliminar').on('click', function(e){
    e.preventDefault();
    location.replace("/eliminar/nota/" + id_noticia);
});

</script>

{% endblock %}