{% extends 'base.html' %}
{% load tz %}
{% load humanize %}
{% block contenido %}

{% if user.is_authenticated %}

    {% if follow %}
        <div class="seguir">
            <a href="/unfollow/seccion/{{ seccion.id }}" class="btn btn-danger">Dejar de seguir {{ seccion.nombre }}</a>
        </div>    
    {% else %}
        <div class="seguir">
            <a href="/seguir/seccion/{{ seccion.id }}" class="btn btn-success">Seguir {{ seccion.nombre }}</a>
        </div>
    {% endif %}

{% endif %}
<div class="col-lg-9">
    <!-- blog entry -->
    {% for nota in notas %}
    <div>
        <hr>
        <p>
            <span class="glyphicon glyphicon-time"></span> Publicado {{ nota.fecha|naturaltime|capfirst }}</p>
        <hr>
        <img width="200px" src="{{ MEDIA_URL }}{{ nota.imagen }}" class="img-responsive">
        <hr>
        <p> {{ nota.descripcion|slice:":400"|add:" ..." }} </p>
        <a class="btn btn-primary" href="/publicacion/{{ nota.id }}">Leer más <span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr>
    </div>
    {% endfor %}
    <ul class="pager">
    {% if notas.has_previous %}
        <li class="previous"><a href="?page={{ notas.previous_page_number }}">&larr; Anterior</a></li>
    {% endif %}
    {% if notas.has_next %}
        <li class="next"><a href="?page={{ notas.next_page_number }}">Siguiente &rarr;</a></li>
    {% endif %}
    </ul>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

{% endblock %}
