{% extends 'base.html' %}
{% load tz %}
{% load humanize %}

{% block contenido %}
<div class="col-lg-9">
  <div class="row">   
	{% for notificacion in lista_notificaciones %}
	
		{% if notificacion.verb == 'nuevo_seguidor' %}
		<a href="/perfil/{{ notificacion.target.id }}">
	    <div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">Nuevo Seguidor</h3>
	      </div>
	      <div class="panel-body">
	        {{ notificacion.description }} - {{ notificacion.timestamp | naturaltime }}
	      </div>
	    </div>
    </a>
		{% elif notificacion.verb == 'nuevo_comentario' %}
		<a href="/publicacion/{{ notificacion.target.id }}">
	    <div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">Nuevo Comentario</h3>
	      </div>
	      <div class="panel-body">
	        {{ notificacion.description }} - {{ notificacion.timestamp | naturaltime }}
	      </div>
	    </div>
    </a>
		{% endif %}
	{% endfor %}
	</div>
</div>
{% endblock %}