{% extends 'base.html' %}

{% block contenido %}
<div class="col-lg-9">
    <!-- blog entry -->
    {% for seccion in secciones %}
    <div>
        <h3>{{ seccion.nombre }}</h3>
        <hr>
        <img width="200px" src="{{ MEDIA_URL }}{{ seccion.imagen }}" class="img-responsive">
        <hr>
        <a class="btn btn-primary" href="/lista/nota/seccion/{{ seccion.id }}">Acceder <span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr>
    </div>
    {% endfor %}
</div>
<!-- /.col-lg-8 -->

{% endblock %}
