{% extends 'base.html' %}

{% block js %}
<script type="text/javascript">
    
$('.btn-abre-platica').on('click', function(e){
    e.preventDefault();


    $('#chat').html("");

    var id_usuario = $(this).data("usuario");
    var username_chat = $(this).data("username");
    var username_local = "{{ user.username }}"
    var usaurio = $('#input_usuario').val();

        $.ajax({
          url: "{% url 'get_chat' %}",
          type: "GET", //send it through get method
          data: {usuario_consultor: usaurio , usuario_chat: id_usuario},
          success: function(response) {
    
            $.each(response, function(i, objeto){


                if(objeto.usuario_remitente_id == id_usuario){ 
        var template = '<li class="left clearfix"> \
                            <span class="chat-img pull-left"> \
                                <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" /> \
                            </span> \
                            <div class="chat-body clearfix"> \
                                <div class="header"> \
                                    <strong class="primary-font">' + username_local + '</strong> \
                                    <small class="pull-right text-muted"> \
                                        <i class="fa fa-clock-o fa-fw"></i> ' + objeto.fecha + ' \
                                    </small> \
                                </div> \
                                <p> \
                                    ' + objeto.contenido + ' \
                                </p> \
                                <a href="#">Eliminar</a> <a href="#">Esconder</a> \
                            </div> \
                        </li>';
                } else {
        var template = '<li class="right clearfix"> \
                            <span class="chat-img pull-right"> \
                                <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" /> \
                            </span> \
                            <div class="chat-body clearfix"> \
                                <div class="header"> \
                                    <small class=" text-muted"> \
                                        <i class="fa fa-clock-o fa-fw"></i>' + objeto.fecha + '</small> \
                                    <strong class="pull-right primary-font">' + username_chat + '</strong> \
                                </div> \
                                <p> \
                                    '+ objeto.contenido +' \
                                </p> \
                                <a href="#">Eliminar</a> <a href="#">Esconder</a> \
                            </div> \
                        </li>';

                }

            $('#chat').prepend(template);

        });
      }
});

});

</script>
{% endblock %}

    

{% block contenido %}
<div class="col-lg-9">
  <div class="row">    
    {% for mensaje in mensajes %}
    <div class="col-sm-6 col-md-4">
      <a href="#" data-toggle="modal" class="btn-abre-platica" id="btn-abre-platica" data-usuario="{{ mensaje.usuario_remitente.id }}" data-username="{{ mensaje.usuario_remitente.username }}" data-target="#ModalMD">
        <div class="thumbnail">
          <img src="{{ MEDIA_URL }}{{ mensaje.usuario_remitente.foto }}" style="width: 300px; height: 200px;">
          <div class="caption">
            <h3>{{ mensaje.usuario_remitente.username }}</h3>
            <p>{{ mensaje.contenido }} </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<!-- /.col-lg-8 -->

<!-- Modal -->
<div class="modal fade" id="ModalMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Mensajes con: Usuario</h4>
      </div>
      <div class="modal-body">
        <ul class="chat" id="chat">
        </ul>
      </div>
      <div class="modal-footer">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Enviar</button>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Mensaje...">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="input_usuario" value="{{ user.id }}"></input>
{% endblock %}
