{% extends 'base.html' %}
{% load tz %}
{% block contenido %}
<div class="col-lg-9">
    {% for nota in notas %}
    <!-- blog entry -->
    <div>
        <hr>
        <p>
            {% localtime on %}
            <span class="glyphicon glyphicon-time"></span> {{ nota.fecha }} <p>
            {% endlocaltime %}
        <hr>
            <h3>{{ nota.titulo }}</h3>
        <hr>
        <img src="{{ MEDIA_URL }}{{ nota.imagen }}" class="img-responsive" width="250px">
        <hr>
        <p>{{ nota.descripcion|slice:":140"|add:" ..." }}</p>
        <a class="btn btn-primary" href="/publicacion/{{ nota.id }}">Leer más <span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr>
    </div>
    {% endfor %}
    <!-- pager -->
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Anterior</a>
        </li>
        <li class="next"><a href="#">Siguiente &rarr;</a>
        </li>
    </ul>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

{% endblock %}
