{% extends 'base.html' %}
{% load tz %}
{% load humanize %}
{% block contenido %}

{% if user.is_authenticated %}
<div class="seguir">
    <button class="btn btn-success">Seguir {{ seccion.nombre }}</button>
</div>
{% endif %}
<div class="col-lg-9">
    <!-- blog entry -->
    {% for nota in notas %}
    <div>
        <hr>
        <p>
            <span class="glyphicon glyphicon-time"></span> Publicado {{ nota.fecha|naturaltime|capfirst }}</p>
        <hr>
        <img src="{{ MEDIA_URL }}{{ nota.imagen }}" class="img-responsive">
        <hr>
        <p> {{ nota.descripcion }} </p>
        <a class="btn btn-primary" href="/publicacion/{{ nota.id }}">Leer más <span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr>
    </div>
    {% endfor %}
    <!-- pager -->
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Anterior</a>
        </li>
        <li class="next"><a href="#">Siguiente &rarr;</a>
        </li>
    </ul>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

{% endblock %}
