{% extends 'base.html' %}
{% load tz %}
{% block contenido %}
<div class="col-lg-9">
    {% for nota in notas %}
    <!-- blog entry -->
    <div>
        <hr>
        <p>
            {% localtime on %}
            <span class="glyphicon glyphicon-time"></span> {{ nota.fecha }} <p>
            {% endlocaltime %}
        <hr>
            <h3>{{ nota.titulo }}</h3>
        <hr>
        <img src="{{ MEDIA_URL }}{{ nota.imagen }}" class="img-responsive" width="250px">
        <hr>
        <p>{{ nota.descripcion|slice:":140"|add:" ..." }}</p>
        <a class="btn btn-primary" href="/publicacion/{{ nota.id }}">Leer más <span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr>
    </div>
    {% endfor %}
    <!-- pager -->
    <ul class="pager">
    {% if notas.has_previous %}
        <li class="previous"><a href="?page={{ notas.previous_page_number }}">&larr; Anterior</a></li>
    {% endif %}
    {% if notas.has_next %}
        <li class="next"><a href="?page={{ notas.next_page_number }}">Siguiente &rarr;</a></li>
    {% endif %}
    </ul>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

{% endblock %}
