{% extends 'base.html' %}

{% block contenido %}
<div class="col-lg-9">
    <!-- blog entry -->
    {% for seccion in secciones %}
    <div>
        <h3>{{ seccion.nombre }}</h3>
        <hr>
        <img src="{{ MEDIA_URL }}{{ seccion.imagen }}" class="img-responsive">
        <hr>
        <a class="btn btn-primary" href="/lista/nota/seccion/{{ seccion.id }}">Acceder <span class="glyphicon glyphicon-chevron-right"></span></a>
        <button class="btn btn-success" data-toggle="modal" data-target="#ModalSeguir">Seguir</button>
        <hr>
    </div>
    {% endfor %}
    <!-- pager -->
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Anterior</a>
        </li>
        <li class="next"><a href="#">Siguiente &rarr;</a>
        </li>
    </ul>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

{% endblock %}
