{% extends 'base.html' %}

{% block contenido %}
<div class="col-lg-9">
    <div class="row">

        {% for seguidor in seguidores %}
        <a href="/perfil/{{ seguidor.usuario_seguidor.id }}">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="{{ MEDIA_URL }}{{ seguidor.usuario_seguidor.foto }}">
                    <div class="caption">
                    <h3>{{ seguidor.usuario_seguidor.username }}</h3>
                    <p><a href="/dejar_de_seguir/{{ seguidor.usuario_seguidor.id }}" class="btn btn-danger" role="button">Dejar de Seguir</a></p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<!-- /.col-lg-8 -->
{% endblock %}
