{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datepicker/css/datepicker.css">
{% endblock %}

{% block contenido %}
<div class="col-lg-9">
<!-- /.panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Nuevo Post
    </div>
                            <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form role="form">
                    <div class="form-group">
                        <label>Titulo de la nota</label>
                        <input class="form-control" placeholder="Titulo">
                        <p class="help-block">Ejemplo: Carambana de coches en la Gustavo A. Madero</p>
                    </div>
                    <div class="form-group">
                        <label>Sección</label>
                        <select class="form-control">
                            <option>Sección 1</option>
                            <option>Sección 2</option>
                            <option>Sección 3</option>
                            <option>Sección 4</option>
                            <option>Sección 5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Privacidad</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Público
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Privado
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Imagen</label>
                        <input type="file">
                    </div>
                    <div class="form-group">
                        <label>Texto</label>
                        <textarea class="form-control" rows="10"></textarea>
                        <p class="help-block">Trata de ser lo más claro posible =) </p>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input class="form-control" placeholder="Fecha de Nacimiento" id="calendario">
                    </div>
                    <button id="abrir_mapa" class="btn btn-primary">Una ubicación diferente</button>
                    <p class="help-block">De lo contrario se pondrá con tu ubicación actual</p>

                    <div id="mapa">
                        <div id="googleMap"></div>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-success">Crear</button>
                    <button type="reset" class="btn btn-default">Reiniciar</button>
                </form>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
<script>
    $('#calendario').datepicker({
        'format': 'yyyy/mm/dd'
    });
</script>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script>

$('#abrir_mapa').on('click', function(e){
    $('#googleMap').height(300);
    e.preventDefault();
      var lat, lon;

      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position){
              lat = position.coords.latitude;
              lon = position.coords.longitude;
                  var mapProp = {

            center:new google.maps.LatLng(lat,lon),
            zoom:13,
            mapTypeId:google.maps.MapTypeId.ROADMAP
            };
              var map=new google.maps.Map(document.getElementById("googleMap")
            ,mapProp);

      });
      }  
    });
</script>
{% endblock %}

