{% extends 'base.html' %}

{% block contenido %}
<div class="col-lg-9">
    <!-- /.panel -->
    	<div class="row">
    		<div class="col-xs-5">
    			<img width="300px" src="{{ MEDIA_URL }}{{ publicacion.imagen }}">
    		</div>
    		<div class="col-xs-7">
    			<strong>Autor: </strong> <a href="/perfil/{{ publicacion.usuario.id }}">{{ publicacion.usuario.username }}</a>
    			<br><br>
    			<a class="tag">Politica</a>

    			<h3>{{ publicacion.titulo }}</h3>
          <h4>{{ num_likes }} Me gusta</h4>
    		</div>
    	</div>
    	<br>
    	<br>
    	<div class="texto_publicacion">
    		{{ publicacion.descripcion }}
    	</div>
      <input type="hidden" id="id-post" value="{{ publicacion.id }}">
      <input type="hidden" id="id-user" value="{{ user.id }}">
    	<br>
    	<br>
    	<br>
    	<div class="row">
    		<div class="col-md-1"><button class="btn btn-success" id="btn-enviar">Enviar</button></div>
    		<div class="col-md-11"> <textarea class="form-control" placeholder="Comentario" id="comentario"></textarea> </div>
    	</div>
    	<br>
        {% if user != publicacion.user %}

          <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#ModalDenunciar">Denunciar</a>
          <a href="#" class="btn btn-info" data-toggle="modal" data-target="#ModalCompartir">Compartir</a>
        {% else %}
          <button class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminarPost">Eliminar</button>
          <a href="/editar/nota/{{ publicacion.id }}">Editar</a>
        {% endif %}
        {% if like %}
        <button type="button" class="btn btn-primary btn-lg" id="btn-dislike">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>    
        {% else %}
        <button type="button" class="btn btn-default btn-lg" id="btn-like">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>   
        {% endif %}
        <br>
        <br>

        <section class="comentarios" id="comentarios">
          {% for comentario in comentarios %}
          <div class="media">
            <a class="media-left media-middle" href="#">
              <img src="{{ MEDIA_URL }}{{ comentario.usuario.foto }}" width="50">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{ comentario.usuario.username }}</h4>
              {{ comentario.contenido }}
            </div>
          </div>
          {% endfor %}
        </section>

    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

<!-- Modal -->
<div class="modal fade" id="ModalCompartir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Titulo</h4>
      </div>
      <div class="modal-body">
      <div class="row">
    		<div class="col-xs-5">
    			<img src="{{ STATIC_URL }}img/ballena.jpg">
    		</div>
    		<div class="col-xs-7">
    			<strong>Autor: </strong> <a href="/perfil/">Christian</a>
    			<br><br>
    			<a class="tag">Politica</a>
    		</div>
    	</div>
    	<br>
    	<br>
    	<div class="texto_publicacion">
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Compartir</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalEliminarPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Publicación</h4>
      </div>
      <div class="modal-body">
        <h3>¿Seguro que desea eliminar la publicación?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <a href="/eliminar/nota/{{ publicacion.id }}" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalDenunciar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Titulo</h4>
      </div>
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label>Titulo del Reporte</label>
                <input class="form-control" placeholder="Titulo">
                <p class="help-block">Ejemplo: Noticia Falsa</p>
            </div>
            <div class="form-group">
                <label>Razón</label>
                <select class="form-control">
                    <option>Razón 1</option>
                    <option>Razón 2</option>
                    <option>Razón 3</option>
                    <option>Razón 4</option>
                    <option>Razón 5</option>
                </select>
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="file">
            </div>
            <div class="form-group">
                <label>Explicacion (Opcional)</label>
                <textarea class="form-control" rows="10"></textarea>
                <p class="help-block">Trata de ser lo más claro posible =) </p>
            </div>
            <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Denunciar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript">
  $('#btn-enviar').on('click', function(){
    var comentario = $('#comentario').val();
    var id_post = $('#id-post').val();
    var id_user = $('#id-user').val();
    $.get( "/nuevo/comentario", { comentario: comentario, id_post: id_post, id_usuario: id_user }, function(data){
      var html = $("<div class='media'><a class='media-left media-middle' href='#'><img src='{{ MEDIA_URL }}" + data.imagen + "' width='50'></a><div class='media-body'><h4 class='media-heading'>" + data.usuario + "</h4>" + data.contenido + "</div></div>");
      html.hide();
      html.appendTo($('#comentarios')).show("slow");
      $('#comentario').val("");
    });
  });

  $('#btn-like').on('click', function(){
    var id_post = $('#id-post').val();
    var id_user = $('#id-user').val();
    $.get( "/like", { id_post: id_post, id_usuario: id_user, like: false }, function(data){
      location.replace("/publicacion/" + id_post);
    });
  });

  $('#btn-dislike').on('click', function(){
    var id_post = $('#id-post').val();
    var id_user = $('#id-user').val();
    $.get( "/like", { id_post: id_post, id_usuario: id_user, like: true }, function(data){
      location.replace("/publicacion/" + id_post);
    });
  });

</script>

{% endblock %}