{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reportes.css">
{% endblock %}

{% block contenido %}
<div class="col-lg-9">
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-success">Buscar</button>
        </div>
        <div class="col-md-11">
            <input type="text" class="form-control" placeholder="Buscar...">
        </div>
    </div>
    <br><br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Reporte</th>
                <th>Dar de Baja</th>
                <th>Contactar</th>
            </tr>
        </thead>
        <tbody>
            {% for reporte in reportes_nota %}
            <tr>
                <td>{{ reporte.id }}</td>
                <td><a href="/publicacion/{{ reporte.nota.id }}">{{ reporte.nota.titulo }}</a></td>
                <td>{{ reporte.descripcion }}</td>
                <td><a id="abrir_eliminar" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ reporte.nota.id }}" href="#"></a></td>
                <td><a class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#ModalDenunciar" href="#"></a></td>
            </tr>              
            {% endfor %}
        </tbody>
    </table>
  <ul class="pager">
    {% if reportes_nota.has_previous %}
      <li class="previous"><a href="?page={{ reportes_nota.previous_page_number }}">&larr; Anterior</a>
      </li>
    {% endif %}
    {% if reportes_nota.has_next %}
      <li class="next"><a href="?page={{ reportes_nota.next_page_number }}">Siguiente &rarr;</a>
      </li>
    {% endif %}
  </ul>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dar de baja Noticia</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <h4>¿Deseas dar de baja esta noticia?</h4>
        </div>
      </div>
      <input type="text" id="id_nota_dar_de_baja">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <a id="btn-dardebaja" href="#" class="btn btn-danger">Dar de baja</a>
      </div>
    </div>
  </div>
</div>
<!-- /.col-lg-8 -->

<!-- Modal -->
<div class="modal fade" id="ModalDenunciar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Titulo</h4>
      </div>
      <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Titulo del Reporte</label>
                        <input class="form-control" placeholder="Titulo">
                        <p class="help-block">Ejemplo: Noticia Falsa</p>
                    </div>
                    <div class="form-group">
                        <label>Texto</label>
                        <textarea class="form-control" rows="10"></textarea>
                        <p class="help-block">La explicación para dar de baja.</p>
                    </div>
                    <br>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Contactar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
  
  <script type="text/javascript">

    $('#abrir_eliminar').on('click', function(e){
      e.preventDefault();
      var id_nota = $(this).data('id');
      $('#id_nota_dar_de_baja').val(id_nota);

      $('#btn-dardebaja').attr('href', '/dardebaja/nota/' + id_nota);

    });  

  </script>

{% endblock %}