{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reportes.css">
{% endblock %}

{% block contenido %}
<div class="col-lg-9">
    <form action="/busca/reporte/usuario/" method="GET">
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-success" type="submit">Buscar</button>
        </div>
        <div class="col-md-11">
            <input type="text" name="q" class="form-control" placeholder="Buscar...">
        </div>
    </div>
    </form>

    <br><br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Reporte</th>
                <th>Eliminar</th>
                <th>Contactar</th>
                <th>Cancelar Reporte</th>
            </tr>
        </thead>
        <tbody>
            {% for reporte in reportes_usuario %}
            <tr>
                <td>{{ reporte.usuario_reportado.id }}</td>
                <td><a href="/perfil/{{ reporte.usuario_reportado.id }}">{{ reporte.usuario_reportado.username }}</a></td>
                <td>{{ reporte.descripcion }}</td>
                <td><a class="glyphicon glyphicon-trash" id="abrir_eliminar" data-toggle="modal" data-id="{{ reporte.usuario_reportado.id }}" data-target="#myModal" href="#"></a></td>
                <td>
                  <a class="glyphicon glyphicon-edit btn-abre-platica" data-toggle="modal" id="btn-abre-platica" data-usuario="{{ reporte.usuario_reportado.id }}" data-imagen="{{ reporte.usuario_reportado.foto }}" data-username="{{ reporte.usuario_reportado.username }}" data-user="{{ user.username }}" data-userfoto="{{ user.foto }}" data-target="#ModalMD" href="#"></a>
                </td>
                <td class="table-icon"><a class="glyphicon glyphicon-check" href="/cancelar/reporte/usuario/{{ reporte.id }}"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  <ul class="pager">
    {% if reportes_usuario.has_previous %}
      <li class="previous"><a href="?page={{ reportes_usuario.previous_page_number }}">&larr; Anterior</a>
      </li>
    {% endif %}
    {% if reportes_usuario.has_next %}
      <li class="next"><a href="?page={{ reportes_usuario.next_page_number }}">Siguiente &rarr;</a>
      </li>
    {% endif %}
  </ul>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dar de baja Usuario</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <h4>¿Deseas dar de baja a este usuario?</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <a id="btn-dardebaja" href="#" class="btn btn-danger">Dar de baja</a>
      </div>
    </div>
  </div>
</div>
<!-- /.col-lg-8 -->


<!-- Modal -->
<div class="modal fade" id="ModalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nombre del Usuario</h4>
      </div>
      <div class="modal-body">
<div class="row">
        <div class="col-xs-5">
          <img src="{{ STATIC_URL }}img/ballena.jpg">
        </div>
        <div class="col-xs-7">
          <strong>Autor: </strong> <a href="/perfil/">Titulo de la denuncia</a>
          <br><br>
          <a class="tag">Politica</a>
        </div>
      </div>
      <br>
      <br>
      <div class="texto_publicacion">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Mensajes con: <span id="nombre-usuario-chat"></span></h4>
      </div>
      <div class="modal-body">
        <ul class="chat" id="chat">
        </ul>
      </div>
      <div class="modal-footer">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success" id="btn-enviar">Enviar</button>
            </div>
            <div class="col-md-10">
                <input type="text" id="mensaje" class="form-control" placeholder="Mensaje...">
            </div>
        </div>
      </div>
      <div id="alerta-mensaje" class="alert alert-danger" role="alert">¡No puedes enviar un mensaje vacio!</div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModalPendientes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">¡Tienes reportes que tienen más de 1 semana!</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Reporte</th>
                    <th>Eliminar</th>
                    <th>Contactar</th>
                    <th>Cancelar Reporte</th>
                </tr>
            </thead>
            <tbody>
                {% for reporte in reportes_pasados %}
                <tr>
                    <td>{{ reporte.usuario_reportado.id }}</td>
                    <td><a href="/perfil/{{ reporte.usuario_reportado.id }}">{{ reporte.usuario_reportado.username }}</a></td>
                    <td>{{ reporte.descripcion }}</td>
                    <td><a class="glyphicon glyphicon-trash" id="abrir_eliminar" data-toggle="modal" data-id="{{ reporte.usuario_reportado.id }}" data-target="#myModal" href="#"></a></td>
                    <td>
                      <a class="glyphicon glyphicon-edit btn-abre-platica" data-toggle="modal" id="btn-abre-platica-inicio" data-usuario="{{ reporte.usuario_reportado.id }}" data-imagen="{{ reporte.usuario_reportado.foto }}" data-username="{{ reporte.usuario_reportado.username }}" data-user="{{ user.username }}" data-userfoto="{{ user.foto }}" data-target="#ModalMD" href="#"></a>
                    </td>
                    <td class="table-icon"><a class="glyphicon glyphicon-check" href="/cancelar/reporte/usuario/{{ reporte.id }}"></a></td>
                </tr>    
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="input_usuario" value="{{ user.id }}"></input>
<input type="hidden" id="media_url" value="{{ MEDIA_URL }}"></input>
{% endblock %}

{% block js %}
  
  <script type="text/javascript">
    var cerrado = false;

    if (('{{reportes_pasados}}').length > 2){
      $('#ModalPendientes').modal('show'); 
    }

    $('#abrir_eliminar').on('click', function(e){
      e.preventDefault();
      var id_usuario = $(this).data('id');
      $('#ModalPendientes').modal('hide'); 
      $('#btn-dardebaja').attr('href', '/dardebaja/usuario/' + id_usuario);

    });

    $('#ModalPendientes').on('hide.bs.modal', function () {
      cerrado = true;
    })    

    $('#btn-abre-platica-inicio').on('click', function(e){
      e.preventDefault();
      console.log('Cerrado');
      $('#ModalPendientes').modal('hide'); 
      cerrado = false;
    });
    
    $('#ModalMD').on('hide.bs.modal', function () {
      if (!cerrado) {
        $('#ModalPendientes').modal('show'); 
      }
    })

  </script>

{% endblock %}