{% extends 'base.html' %}
{% load tz %}
{% load humanize %}
{% block contenido %}
<div class="col-lg-9">
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Timeline
        </div>
        <div id="googleMap" style="height:380px;"></div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="timeline">
                {% for noticia in noticias %}
                {% if forloop.counter|divisibleby:2 %}
                <li class="timeline-inverted">
                {% else %}
                <li>               
                {% endif %}
                    <div class="timeline-badge"><i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{ noticia.titulo }}</h4>
                            <a href="/perfil/{{ noticia.usuario.id }}"><h5>Por {{ noticia.usuario.username }}</h5></a>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i>{{ noticia.fecha|naturaltime|capfirst }}</small>

                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{ noticia.descripcion }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Editar</a>
                                    </li>
                                    <li><a href="#">Hacer alguna otra cosa</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Evento de Timeline</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> Hace 11 horas</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

{% endblock %}


{% block js %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
    </script>
    <script>

    function initialize()
    {
            var lat, lon;

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position){
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                    var mapProp = {

              center:new google.maps.LatLng(lat,lon),
              zoom:13,
              mapTypeId:google.maps.MapTypeId.ROADMAP
              };
                var map=new google.maps.Map(document.getElementById("googleMap")
              ,mapProp);


                var marker1 = new google.maps.Marker({
                  position: new google.maps.LatLng(19.474681,-99.094491),
                  map: map,
                  title: 'Noticia 1'
                });

                var marker1 = new google.maps.Marker({
                  position: new google.maps.LatLng(19.478424,-99.100606),
                  map: map,
                  title: 'Noticia 2'
                });

                var marker1 = new google.maps.Marker({
                  position: new google.maps.LatLng(19.471684,-99.107494),
                  map: map,
                  title: 'Noticia 3'
                });

        });
        }  
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}