{% extends 'base.html' %}

{% block contenido %}
<div class="col-lg-9">
    <!-- blog entry -->
    <div>
        <hr>
        <p>
            <span class="glyphicon glyphicon-time"></span> Publicado el Viernes 4 de Julio de 2014, 04:19 pm</p>
        <hr>
        <img src="http://placehold.it/900x300" class="img-responsive">
        <hr>
        <p>Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota Texto de la nota </p>
        <a class="btn btn-primary" href="#">Leer más <span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr>
    </div>
    <!-- pager -->
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Anterior</a>
        </li>
        <li class="next"><a href="#">Siguiente &rarr;</a>
        </li>
    </ul>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

{% endblock %}
