{% extends 'base.html' %}

{% block contenido %}
<div class="col-lg-9">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="{{ STATIC_URL }}img/ballena.jpg">
                <div class="caption">
                <h3>Nombre del usuario</h3>
                <p>Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio </p>
                <p><a href="#" class="btn btn-danger" role="button">Dejar de Seguir</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="{{ STATIC_URL }}img/ballena.jpg">
                <div class="caption">
                <h3>Nombre del usuario</h3>
                <p>Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio </p>
                <p><a href="#" class="btn btn-danger" role="button">Dejar de Seguir</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="{{ STATIC_URL }}img/ballena.jpg">
                <div class="caption">
                <h3>Nombre del usuario</h3>
                <p>Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio </p>
                <p><a href="#" class="btn btn-danger" role="button">Dejar de Seguir</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="{{ STATIC_URL }}img/ballena.jpg">
                <div class="caption">
                <h3>Nombre del usuario</h3>
                <p>Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio </p>
                <p><a href="#" class="btn btn-danger" role="button">Dejar de Seguir</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="{{ STATIC_URL }}img/ballena.jpg">
                <div class="caption">
                <h3>Nombre del usuario</h3>
                <p>Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio </p>
                <p><a href="#" class="btn btn-danger" role="button">Dejar de Seguir</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="{{ STATIC_URL }}img/ballena.jpg">
                <div class="caption">
                <h3>Nombre del usuario</h3>
                <p>Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio Bio del usuaurio </p>
                <p><a href="#" class="btn btn-danger" role="button">Dejar de Seguir</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.col-lg-8 -->
{% endblock %}
