{% extends 'base.html' %}

{% block contenido %}
<div class="col-lg-9">
    <!-- /.panel -->
    	<div class="row">
    		<div class="col-xs-5">
    			<img src="{{ STATIC_URL }}img/ballena.jpg">
    		</div>
    		<div class="col-xs-7">
    			<strong>Autor: </strong> <a href="/perfil/">Christian</a>
    			<br><br>
    			<a class="tag">Politica</a>

    			<h3>Encabezado Encabezado Encabezado Encabezado Encabezado Encabezado Encabezado Encabezado.</h3>

    		</div>
    	</div>
    	<br>
    	<br>
    	<div class="texto_publicacion">
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    	</div>
    	<br>
    	<br>
    	<br>
    	<div class="row">
    		<div class="col-md-1"><button class="btn btn-success">Enviar</button></div>
    		<div class="col-md-11"> <textarea class="form-control" placeholder="Comentario"></textarea> </div>
    	</div>
    	<br>
        <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#ModalDenunciar">Denunciar</a>
        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#ModalCompartir">Compartir</a>
        <button class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminarPost">Eliminar</button>
        <a href="#">Editar</a>
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>     
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->

<!-- Modal -->
<div class="modal fade" id="ModalCompartir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Titulo</h4>
      </div>
      <div class="modal-body">
<div class="row">
    		<div class="col-xs-5">
    			<img src="{{ STATIC_URL }}img/ballena.jpg">
    		</div>
    		<div class="col-xs-7">
    			<strong>Autor: </strong> <a href="/perfil/">Christian</a>
    			<br><br>
    			<a class="tag">Politica</a>
    		</div>
    	</div>
    	<br>
    	<br>
    	<div class="texto_publicacion">
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Compartir</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalEliminarPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Publicación</h4>
      </div>
      <div class="modal-body">
        <h3>¿Seguro que desea eliminar la publicación?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalDenunciar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Titulo</h4>
      </div>
      <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Titulo del Reporte</label>
                        <input class="form-control" placeholder="Titulo">
                        <p class="help-block">Ejemplo: Noticia Falsa</p>
                    </div>
                    <div class="form-group">
                        <label>Razón</label>
                        <select class="form-control">
                            <option>Razón 1</option>
                            <option>Razón 2</option>
                            <option>Razón 3</option>
                            <option>Razón 4</option>
                            <option>Razón 5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Imagen</label>
                        <input type="file">
                    </div>
                    <div class="form-group">
                        <label>Explicacion (Opcional)</label>
                        <textarea class="form-control" rows="10"></textarea>
                        <p class="help-block">Trata de ser lo más claro posible =) </p>
                    </div>
                    <br>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Denunciar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
